﻿A:link { color: blue; text-decoration: underline }
A:visited { color: purple; text-decoration: underline }
A:active { color: red; text-decoration: none }
A:hover { color: white; background-color: #4374B6; text-decoration: none }
body {
	background-color: grey;
}
h1{
	text-align: center;
	margin: 10px;
}
h2{
	margin: 5px;
}
table{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px thick red;
	background-color: darkslategray;
}
table td tr th{
	border: 1px dotted;
	padding: 10px;
	border-collapse: collapse;
}
table td .foot{
	text-align:center;
	background-color:#eeeeee;
}
iframe{
	height: 200px;
	width: 800px;
}


header {
    background-color:blueviolet;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height: 800px;
    width:150px;
    float:left;
    padding:5px;
}
section {
    width:800px;
    float:left;
    padding:10px;
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
} 

header .main{
	background-color:#808080;
	color:#eeeeee;
	text-align:center;
	padding:5px;
}

.head{
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
.side{
	text-align: left;
	vertical-align: text-top;
	width: 150px;
}
.content {
	text-align: left;
}


#links{
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:150px;
    float:left;
    padding:5px;
}
#content{
    width:800px;
    float:left;
    padding:10px;
}
#foot{
	clear:both;
	text-align:center;
	background-color:#eeeeee;
}

#mainsite{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px thick red;
	background-color: #eeeeee;
}