﻿A:link {
    color: blue;
    text-decoration: underline;
}

A:visited {
    color: purple;
    text-decoration: underline;
}

A:active {
    color: red;
    text-decoration: none;
}

A:hover {
    color: white;
    background-color: #4374B6;
    text-decoration: none;
}

html, body {
    background-color: grey;
    height: 100%;
    margin: 0;
    padding: 0;
}


header {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 5px;
}

nav {
    line-height:30px;
    width: 100%;
    background-color:#eeeeee;
    padding:5px;
}
section {
    min-height: 600px;
    width:800px;
    float:left;
    padding:10px;
}
footer {
    background-color: black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
} 
table{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px thick red;
	background-color: #607dde;
    text-align: center;
}
td{
    text-align: center;
}

#map {
    height: 700px;
    float: left;
    width: 1200px;
}

#right-panel {
    float: right;
    width: 34%;
    height: 100%;
}

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

    #right-panel select, #right-panel input {
        font-size: 15px;
    }

    #right-panel select {
        width: 100%;
    }

    #right-panel i {
        font-size: 12px;
    }

.panel {
    height: 100%;
    overflow: auto;
}
