A:link { color: blue; text-decoration: underline }
A:visited { color: purple; text-decoration: underline }
A:active { color: red; text-decoration: none }
A:hover { color: white; background-color: #4374B6; text-decoration: none }
body {
    background-color: palegoldenrod;
}
h1{
	text-align: center;
	margin: 10px;
}
h2{
	margin: 5px;
}
table{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px thick red;
	background-color: #607dde;
    text-align: center;
}
td{
    text-align: center;
}
header {
    background-color: firebrick;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    width: 100%;
    background-color:#eeeeee;
    padding:5px;
}
section {
    text-align: center;
    min-height: 600px;
    width:800px;
    float:left;
    padding:10px;
}
footer {
    background-color: firebrick;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
} 
#following{
    position: fixed;
    margin-bottom: 10px;
    z-index: auto;
    bottom: 0px;
    width: 30%;
    margin-left: 70%;
    margin-right: auto;
}
